html {
  font-family: 'Cormorant Garamond';
}

head {
  height: 95px;
  display: flex;
  max-width: 1330px;
  min-width: 1280px;
}

body {
  font-size: 28px;
  text-decoration: none;
  color: #10191E;
}
